@import 'mixin/_flex.scss';
@import 'mixin/_animation.scss';
@import 'mixin/_mediaqueries.scss';

/*Variables*/

$header_height: 94px;
$bgcolors: #2BABE3,#2BABE3,#4259A8,#69BCB4,#4C5AA1,#2BABE3,#69BCB4,#2BABE3;
$bgimages: '','','','','','','','';

/*../images/interfaz/bkg04.png*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #fff;

  #precarga {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99999;
    @include m_flex(column);
    @include m_align-items(center);
    @include m_justify-content(center);
    img {
      position: relative;
      width: 128px;
      height: 128px;
    }
    h2 {
      margin: 10px 0;
    }
  }

  .container {
    @include respond-to(xs) { height: 100vh; overflow-y: auto; }
    @include respond-to(sm) { height: 100vh; overflow-y: auto; }
    background-color: #000;
  }

  .header-superior {
    height: $header_height;
    background-color: #000;
    transition: margin 1s ease 0s;
    position: relative;
    z-index: 30000;
    overflow: hidden;
    @include m_flex(row);
    @include m_justify-content(space-between);
    @include respond-to(xs) { height: auto; @include m_flex(column); }
    @include respond-to(sm) { height: auto; @include m_flex(column); }

    .operacion {
      padding-left: 2rem;
      @include respond-to(xs) { padding: 0; order: -2; width: 30%; }
      @include respond-to(sm) { padding: 3px; order: -2; width: 43%; position: relative; margin: 10px 0; }
      h1 {
        text-align: left;
        font-weight: 900;
        color: #fff;
        line-height: 0.9em;
        margin: 0;
        padding: 0;
        @include respond-to(xs) { font-size: 2.5rem; line-height: 45px; text-align: center; }
        @include respond-to(sm) { font-size: 3.0rem; padding: 0.2rem 0rem; }
        @include respond-to(md) { font-size: 3.5rem; }
        @include respond-to(lg) { font-size: 3.5rem; }
      }
      p {
        color: #fff;
        text-align: left;
        font-size: .8rem;
        @include respond-to(xs) { display: none; }
        @include respond-to(sm) { position: absolute; width: 200px; top: 10px; left: 170px; padding-left: 1rem; border-left: 2px solid #fff; font-size: 1rem; }
      }
    }

    .contentMenuTema {
      @include m_flex(row);
      @include respond-to(md) { display: none; }
      @include respond-to(lg) { display: none; }
      #btn-Menu {
        border: 1px solid rgba(255, 255, 255, 0.72);
        text-align: center;
        cursor: pointer;
        @include respond-to(xs) { padding: .5rem; font-size: 1.2rem; margin: .5rem 0; height: 3rem; }
        @include respond-to(sm) { padding: .3rem; font-size: 1.4rem; height: 3rem; }
        &:active {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
      #tema {
        right: 0px;
        font-family: OpenSans-Light;
        padding: 0 1rem;
        text-align: right;
        width: 80%;

        @include m_flex(column);
        @include m_justify-content(center);
        @include m_align-content(center);
        @include respond-to(xs) { top: 51px; font-size: 1.0rem; line-height: 1.0rem; }
        @include respond-to(sm) { top: 77px; height: 52px; font-size: 1.4rem; }
        @include respond-to(md) { display: none; }
        @include respond-to(lg) { display: none; }
      }
    }
    /*Inicio menú principal xs*/
    @include respond-to(xs) {
      ul#menu {
        @include m_flex(column);
        @include m_justify-content(center);
        @include m_align-items(center);
        background-color: #fff;
        width: 100%;
        display: none;
        > div {
          border-top: solid transparent;
          font-size: 1.7rem;
          height: 90px;
          text-align: center;
          font-weight: bold;
          opacity: .7;
          color: #000;
          @include m_flex(column);
          @include m_justify-content(center);
          @include m_align-content(center);
        }
        li {
          border-top: 1px solid rgba(237, 237, 237, 0.9);
          width: 100%;
          min-height: 60px;
          cursor: pointer;
          flex-shrink: 0;
          &:active {
            background-color: rgba(0, 0, 0, 0.5);
          }
          div {
            @include m_flex(column);
            @include m_justify-content(center);
            @include m_align-content(center);
            font-size: 1.2rem;
            text-align: center;
            color: #000;
          }
          span {
            display: none;
          }
        }
      }
    }
    /*Inicio menú principal sm*/
    @include respond-to(sm) {
      ul#menu {
        @include m_flex(column);
        @include m_justify-content(center);
        @include m_align-items(center);
        background-color: #fff;
        width: 100%;
        display: none;
        > div {
          border-top: solid transparent;
          font-size: 1.8rem;
          height: 90px;
          text-align: center;
          font-weight: bold;
          opacity: .7;
          color: #000;
          @include m_flex(column);
          @include m_justify-content(center);
          @include m_align-content(center);
        }
        li {
          border-top: 1px solid rgba(237, 237, 237, 0.9);
          width: 100%;
          min-height: 60px;
          cursor: pointer;
          flex-shrink: 0;
          &:active {
            background-color: rgba(0, 0, 0, 0.5);
          }
          div {
            @include m_flex(column);
            @include m_justify-content(center);
            @include m_align-content(center);
            font-size: 1.4rem;
            text-align: center;
            color: #000;
          }
          span {
            display: none;
          }
        }
      }
    }
    /*Inicio menú principal md*/
    @include respond-to(md) {
      ul#menu {
        @include m_flex(row);
        @include m_justify-content(center);
        @include m_align-items(center);
        > div {
          display: none;
        }
        li {
          &:hover {
            span {
              opacity: 0;
              position: absolute;
            }
          }

          span {
            position: absolute;
            right: 0px;
            width: 30px;
            height: 30px;
            text-align: center;
            margin: 0;
            left: 50%;
            top: 50%;
            line-height: 30px;
            transform: translate(-50%, -50%);
          }
        }
        li.cnpv-item {
          list-style-type: none;
          width: 30px;
          margin: 0 .2em;
          position: relative;
          font-size: 0.8em;
          text-align: center;
          z-index: 1;
          transition: 1s all ease;
          @include m_align-items(center);
        }

        li.cnpv-siitem {
          height: 30px;
          border-radius: 50%;
          border: 1px solid #fff;
          background-color: transparent;
          cursor: pointer;
          margin-left: 15px;

          &:before {
            border: 1px solid #fff;
            border-radius: 50%;
            content: "";
            height: 30px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            opacity: 0;
          }

          &:hover, &:focus {
            width: 15rem;
            height: 15rem;
            background: #fff;

            &:before {
              opacity: 1;
              -webkit-animation: cnpv-out 1s forwards;
              -moz-animation: cnpv-out 1s forwards;
              animation: cnpv-out 1s forwards;
            }

            .menu_item_title {
              visibility: visible;
              z-index: 999;
            }
          }

          .menu_item_title {
            color: #000;
            visibility: hidden;
          }

        }

        li.cnpv-siitem.active_menu {
          &:after {
            background-color: #fff;
            border-radius: 50%;
            content: "";
            height: 20px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
          }

          &:hover, &:focus {
            &:after {
              opacity: 0;
            }
          }

        }

        li.cnpv-noitem {
          border: 1px solid white;
          height: 0;
        }
      }
    }
    /*Fin meú principal md*/

    /*Inicio menú principal md*/
    @include respond-to(lg) {
      ul#menu {
        @include m_flex(row);
        @include m_justify-content(center);
        @include m_align-items(center);
        > div {
          display: none;
        }
        li {
          &:hover {
            span {
              opacity: 0;
              position: absolute;
            }
          }

          span {
            position: absolute;
            right: 0px;
            width: 30px;
            height: 30px;
            text-align: center;
            margin: 0;
            left: 50%;
            top: 50%;
            line-height: 30px;
            transform: translate(-50%, -50%);
          }
        }
        li.cnpv-item {
          list-style-type: none;
          width: 30px;
          margin: 0 .2em;
          position: relative;
          font-size: 0.8em;
          text-align: center;
          z-index: 1;
          transition: 1s all ease;
          @include m_align-items(center);
        }

        li.cnpv-siitem {
          height: 30px;
          border-radius: 50%;
          border: 1px solid #fff;
          background-color: transparent;
          cursor: pointer;
          margin-left: 15px;

          &:before {
            border: 1px solid #fff;
            border-radius: 50%;
            content: "";
            height: 30px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            opacity: 0;
          }

          &:hover, &:focus {
            width: 15rem;
            height: 15rem;
            background: #fff;

            &:before {
              opacity: 1;
              -webkit-animation: cnpv-out 1s forwards;
              -moz-animation: cnpv-out 1s forwards;
              animation: cnpv-out 1s forwards;
            }

            .menu_item_title {
              visibility: visible;
              z-index: 999;
            }
          }

          .menu_item_title {
            color: #000;
            visibility: hidden;
          }

        }

        li.cnpv-siitem.active_menu {
          &:after {
            background-color: #fff;
            border-radius: 50%;
            content: "";
            height: 20px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
          }

          &:hover, &:focus {
            &:after {
              opacity: 0;
            }
          }

        }

        li.cnpv-noitem {
          border: 1px solid white;
          height: 0;
        }
      }
    }
    /*Fin meú principal lg*/

    .logo-plantilla {
      background-color: #fff;
      height: $header_height;
      padding: 10px 30px;
      width: 370px;
      border-radius: 54px 0 0 50px;
      @include respond-to(sm) { background-color: transparent; width: 57%; height: 70px; border-radius: 0; padding: 0; order: -1; text-align: center; border-left: 30px solid transparent; border-top: 70px solid #fff; position: absolute; top: 0; right: 0; }
      @include respond-to(xs) { background-color: transparent; width: 65%; height: 45px; border-radius: 0; padding: 0; order: -1; text-align: center; border-left: 30px solid transparent; border-top: 45px solid #fff; position: absolute; top: 0; right: 0; }
      img {
        @include respond-to(sm) { height: 70px; bottom: 70px; position: relative; }
        @include respond-to(xs) { height: 45px; bottom: 45px; position: relative; }
      }

    }
  }
  //Fin Header

  .cnt-progressBar {
    z-index: 33333;
    position: relative;
    width: 100%;
    #progressBar {
      background-color: rgba(255, 255, 255, .9);
      height: 3px;
      width: 100%;
      z-index: 1;
      position: absolute;
      transform: translateY(-50%);
      @include respond-to(xs) { height: 2px; }
      @include respond-to(sm) { height: 2px; }
      div {
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        height: 100%;
        line-height: 22px;
        text-align: right;
        width: 0;
      }
    }

    .drag-progressBar {
      width: 30px;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid white;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      cursor: pointer;
      color: white;
      top: 10px;
      @include respond-to(xs) { display: none; }
      @include respond-to(sm) { display: none; }
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 10px solid #fff;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        position: absolute;
        left: 7px;
        top: -8px;
      }
      &:after {
        content: attr(data-num);
        font-size: 10px;
        line-height: 10px;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        &:after {
          background-color: white;
          font-size: 10px;
          line-height: 20px;
          border-radius: 50%;
          content: attr(data-num);
          height: 20px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          color: black;
        }
      }
    }
  }

  /*Miga de pan*/
  #miga{
    position: absolute;
    display: none;
    width: 25%;
    z-index:9999;
    font-size: 1rem;
    color: #fff;
    line-height: 1.2em;
    padding: 1rem 1rem;
    box-sizing: border-box;
    top:120px;
    @include respond-to(sm){width:50%; display: none;}
    @include respond-to(xs){width:90%; display: none;}

    .texto{
      position: absolute;
      top: 1rem;
      left: 4rem;
      z-index: 10000;
      h1{
        color: rgba(255, 255, 255, 0.4);
        font-family: 'OpenSans-Bold';
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.8rem;
        word-break: normal;
        @include respond-to(sm){font-weight: 600;font-size: 1.2rem;}
        @include respond-to(xs){font-weight: 600;font-size: 1.2rem;}
      }
      h2{
        font-family: 'OpenSans-Light';
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        word-break: normal;
        @include respond-to(sm){font-size: 1.2rem; line-height: 1.2rem;}
        @include respond-to(xs){font-size: 1.2rem; line-height: 1.2rem;}
      }
    }
    .numero {
      position: absolute;
      top: 6rem;
      font-size: 14rem;
      font-weight: 900;
      color: rgba(255, 255, 255, 0.3);
      font-family: OpenSans-Bold;
      @include respond-to(sm){top: 2rem; font-size: 4rem;}
      @include respond-to(xs){top: 2rem; font-size: 4rem;}
    }
    hr{
      margin: .5rem;
      color:  #4ac8ff;
      background-image: linear-gradient(to right, #fff, #fff, #fff);
      @include respond-to(sm){margin: 0rem;}
      @include respond-to(xs){margin: 0rem;}
    }
  }

  //Inicio Content
  #contenido {
    width: 100%;
    position: relative;
    @include m_flex(row);
    overflow-x: hidden;

    @for $i from 1 through length($bgcolors) {
      $c: ($i - 1);
      #contentSlide#{$c} {
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-image: url(nth($bgimages, $i));
        background-color: nth($bgcolors, $i);
      }
    }

    .contentSlide {
      position: relative;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      overflow-y: auto;
      overflow-x: hidden;
      .sections {
        position: relative;
        min-height: 100%;
        margin: 0;
        display: flex;
      }
    }

    .full-width {
      flex-basis: 100% !important;
    }
  }

  #verticalMenu {
    position: fixed;
    right: 50px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3000;
    @include m-flex(column);
    @include m-justify-content(center);
    @include respond-to(sm) { right: 15px; }
    @include respond-to(xs) { right: 5px; }
    li {
      position: relative;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50%;
      cursor: pointer;
      padding: 5px;
      height: 30px;
      margin: 10px 0;
      width: 30px;
      vertical-align: bottom;
      display: block;
      transition: .5s all;
      &:hover {
        transition: .5s all;
        &:after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: rgba(255, 255, 255, 1);
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .bulletView {
      background-color: rgba(0, 0, 0, 0.2);
      transition: .5s all;
      &:hover {
        &:after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: rgba(255, 255, 255, .9);
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    [data-tooltip] {
      &:before {
        content: attr(data-tooltip);
        position: absolute;
        text-align: center;
        right: 30px;
        margin-top: 50%;
        top: -75%;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, .3);
        color: #fff;
        font-size: 1rem;
        padding: 3px;
        opacity: 0;
        width: 250px;
        transform: scale(0);
        transition: .5s all;
      }
      &:hover {
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    [data-num] {
      &:after {
        content: attr(data-num);
        position: absolute;
        font-size: .7rem;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .active_menuV {
      &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  #btn-setting {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    @include m_flex(column);
    @include m_align-items(center);
    @include m_justify-content(center);
    i {
      font-size: 24px;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  #settings {
    position: absolute;
    left: 40px;
    bottom: 0px;
    width: 0px;
    height: 40px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    overflow: hidden;
    @include m_flex(row);
    @include m_align-items(center);
    @include m_justify-content(center);
    div {
      width: 40px;
      height: 40px;
      cursor: pointer;
      @include m_flex(column);
      @include m_align-items(center);
      @include m_justify-content(center);
      i {
        font-size: 24px;
      }
      i.active {
        background-color: rgba(255, 255, 255, .25);
        padding: 5px;
        border-radius: 10%;
      }
      i.activeMax {
        background-color: rgba(255, 255, 255, .5);
        padding: 5px;
        border-radius: 10%;
      }
    }
  }

  /*Estilos Estructura2*/
  /*---VENTANA MODAL---*/
  .modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.86);
    z-index: 99999;
    overflow: auto;
    display: none;
  }

  .contenidoModal {
    color: #fff;
    height: 100 hv;
    height: auto;
    margin: 3% 0 0;
    width: 100%;
    overflow: auto;
    @include m_flex(row);
    @include m_justify-content(center);
    @include m_align-items(center);
  }

  .franjaModal {
    top: 0;
    left: 0;
    padding: 1% 0;
    position: fixed;
    width: 100%;
  }

  .cierraModal {
    border: none;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    background-image: url(../images/interfaz/cierra.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10000;
    font-size: 3.5em;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cierraModal:hover {
    opacity: 0.5;
  }

  /*paginador modal*/
  .botonModal {
    width: auto;
    height: auto;
    padding: 1em 2em;
    margin: 1em auto;
    cursor: pointer;
    border: none;
    color: rgba(255, 255, 255, 0.4);

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .botonModal:hover {
    opacity: 0.4;
  }
}


/*CLASES GENERALES PLANTILLA*/

/*---CONTRASTE---*/
.bg-contrast{
  background-color: #000 !important;
}
.color-contrast{
  color:#000 !important;
}
/*---ATRIBUTOS---*/
.pAbsolute {  position: absolute; }

.pRelative {  position: relative; }

.anula {  pointer-events: none; }

.visto {  background-color:rgba(0,0,0,0.1) !important; }

.vistoPop { opacity: 0.5; }


/*---ESTRUCTURA CONTENIDOS---*/

.contenedor-h { height: auto; @include m_flex(row); @include m_flex-grow(1); }
.contenedor-v { @include m_flex(column); @include m_flex-grow(1); }
.comprimir{ @include m_justify-content(space-around); }
.cambio-linea{ @include m_flex-wrap(wrap); }
.base { @include m_align-self(flex-end); padding-top: 1em !important; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0rem;
  padding-left: 0rem;
  max-width: 100%;
  display:flex;
  align-items:center;
  padding:1rem 2rem;
}

/*Portada*/
.full {
  width:auto;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  @include m_align-self(center);
  @include m_flex-grow(1);
}

.total {
  @include m_flex(row);
  width: 100vw;
  height: 100vh;
}

.imagenPortada {
  width:100%;
  height:100%;
}


/*ContenidoSuperiorInferior*/
.arriba {
  width:100%;
  height: 50%;
  @include m_flex-grow(1);
}

.abajo {
  width:100%;
  height: 50%;
  @include m_flex-grow(1);
}

/*ContenidoDerechaIzquierda*/
.divImagen {
  @include m_flex(row);
  @include m_flex-grow(1);
  width: 50vw;;
}

.divImagen > div {
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.imagenEmergente {
  height: 80vh;
  width: 35vw;
  margin: 5vh 20vh;
}

.imagenApoyo {
  height: 80vh;
  width: 35vw;
  margin: 5vh auto;
}

.imagenApoyoDe {
  height: 80vh;
  width: 35vw;
  margin: 5vh 5vh 5vh 15vh;
}

.divTexto {
  @include m_flex(column);
  @include m_align-self(center);
  @include m_flex-grow(1);
  width: 50vw;
}

/*alineacion*/
.fila-flex {  @include m_flex(row); }
.columna-flex { @include m_flex(column); }
.centrar-horizontal{ @include m_justify-content(center); }
.centrar-vertical{ @include m_align-self(center); }

.tabs{
  .tab{
    display: none;
    &:first-child{
      display: block;
    }
  }
}